<template>
  <q-page class="layout-padding">

    <q-card class="layout-padding q-pa-lg" style="max-width:600px">
      <!-- <q-uploader :url="url" id="dicom-directory" :multiple="true" /> -->
      <p>Select a directory containing DICOM</p>
      <input @change="getDicomSeries" id="dicom-directory" type="file" webkitdirectory>
      <!-- <span id="upload-text">{{ dicomDirectory }}</span> -->
    </q-card>

    <br>

    <q-card class="layout-padding text-left" style="max-width:600px">
      <b>Session:</b> {{ sessionLabel }}<br>
      <b v-if="sessionSeries.length > 0">Series:</b>
      <div v-for="series in sessionSeries" style="font-size:14px">
        - {{ series }}
      </div>

      <div class='q-pt-sm q-pb-sm'>
        <hr>
      </div>

      <q-btn @click="anonymizeAll" :disabled="anonDisabled">Anonymize</q-btn>
    </q-card>

    <br>

    <q-card v-if="readSeconds || anonSeconds"class="layout-padding" style="max-width:600px">
      <!-- <h6>Stats</h6> -->
      <div v-if="readSeconds">
        <b>{{ readSeconds }} seconds</b> to read all files
      </div>
      <div v-if="anonSeconds">
        <b>{{ anonSeconds }} seconds</b> to anonymize all files
      </div>
    </q-card>

  </q-page>
</template>

<style>
</style>

<script>
const path = require('path')
const fs = require('fs')
const os = require('os')
const { walk } = require('walk')
const { spawn } = require('child_process')
const dicomParser = require('dicom-parser')
const app = require('electron').remote.app

export default {
  name: 'PageIndex',
  data () {
    return {
      url: 'localhost',
      dicomDirectory: 'none',
      sessionLabel: 'No DICOM loaded',
      sessionSeries: [],
      filesBySeries: {},
      seriesProcessed: 0,
      startTime: new Date(),
      readSeconds: 0,
      anonSeconds: 0
    }
  },
  computed: {
    anonDisabled () {
      if (this.sessionSeries.length > 0) {
        return false
      }
      return true
    }
  },
  mounted () {
    this.cwd = path.join(__dirname, '..')
    if (process.env.NODE_ENV === 'development') {
      this.cwd = path.join(process.cwd())
    }
    console.log('cwd: ' + this.cwd)

    this.cacheDir = path.join(app.getPath('desktop'), 'mizer-cache')
    this.anonDir = path.join(this.cacheDir, 'anon')
    this.manifestsDir = path.join(this.cacheDir, 'manifests')
    if (!fs.existsSync(this.cacheDir)){
        fs.mkdirSync(this.cacheDir)
    }
    fs.mkdir(this.anonDir, function (err) { console.log(err)} )
    fs.mkdir(this.manifestsDir, function (err) { console.log(err)} )
  },
  methods: {
    getDicomSeries () {
      this.$q.loading.show({ message: 'Getting Series' })
      this.startTime = new Date()

      this.sessionLabel = "None"
      this.sessionSeries = []
      this.filesBySeries = {}

      const directory = document.getElementById("dicom-directory").files

      if (directory.length > 0) {
        this.uploadDirectory = directory[0].path
      }
      // console.log(this.uploadDirectory)

      var seriesSet = new Set()
      const walker = walk(this.uploadDirectory)
      this.startTime = new Date()

      walker.on('file', (root, fileStats, next) => {
        var f = path.join(root, fileStats.name)
        fs.readFile(f, (err, data) => {
          var byteArray = new Uint8Array(data)

          try {
            const dataSet = dicomParser.parseDicom(byteArray, {untilTag: 'x00200012'})
            this.sessionLabel = dataSet.string('x00100020')
            const seriesDescription = dataSet.string('x0008103e')
            const acquisitionNumber = dataSet.string('x00200011')
            const key = acquisitionNumber + '_' + seriesDescription
            seriesSet.add(key)
            // initialize list for each series
            if (!this.filesBySeries[key]) {
              this.filesBySeries[key] = []
            }
            this.filesBySeries[key].push(f)
          } catch (e) {
            console.log(f + ' -- ' + e)
          }
          next()
        })
        this.sessionSeries = Array.from(seriesSet)
      })

      walker.on('errors', (root, nodeStatsArray, next) => {
        console.log('an error: ' + root)
        console.log(nodeStatsArray)
        next()
      })

      walker.on('end', () => {
        console.log('finished walking')
        this.sessionSeries.sort(function (a, b) {
          return a.localeCompare(b, undefined, {numeric: true, sensitivity: 'base'})
        })
        const elapsed = (new Date() - this.startTime) / 1000
        this.readSeconds = elapsed
        console.log(String(elapsed) + ' seconds to read all files')
        this.$q.loading.hide()
      })
    },
    anonymizeAll () {
      this.$q.loading.show({ message: 'Anonymizing All Series' })
      this.startTime = new Date()

      this.createScriptsFile()

      for (const key of Object.keys(this.filesBySeries)) {
        this.anonymizeSeries(key, this.filesBySeries[key])
      }
      console.log('anonymizeAll end')

      // const async = require('async')

      // var series = []
      // for (var key in this.filesBySeries) {
      //   series.push(key)
      // }

      // async.mapLimit(series, 8, async (s, this.filesBySeries[s]) => {
      // })
    },
    anonymizeSeries (series, files) {
      console.log(this.$q.loading)
      console.log('anonymizing ' + series + ' at ' + new Date())
      this.createManifest(series, files)

      // TODO: Move cache to user space
      var jar = path.join(this.cwd, 'bin', 'mizer-app-0.0.1-SNAPSHOT-shadow.jar')
      var manifest = path.join(this.manifestsDir, series + '_manifest.txt')
      var scripts = path.join(this.cacheDir, 'scripts.txt')
      var destination = this.anonDir

      // Quote params in case of spaces
      var cmd = 'java -jar "' + jar +
        '" --manifest="' + manifest +
        '" --scripts="' + scripts +
        '" --destination="' + destination + '"'
      console.log(cmd)

      const proc = spawn(cmd, {shell: true})

      proc.stdout.on('data', (data) => {
        console.log(series + ' stdout: ' + data)
      })

      proc.stderr.on('data', (data) => {
        console.log(series + ' stderr: ' + data)
      })

      proc.on('exit', (code, signal) => {
        console.log(series + ' exit code: ' + code)

        // Wait for all series to complete
        this.seriesProcessed += 1
        if (this.seriesProcessed === this.sessionSeries.length) {
          this.$q.loading.hide()
          const elapsed = (new Date() - this.startTime) / 1000
          this.anonSeconds = elapsed
          console.log(String(elapsed) + ' seconds to anonymize')
        }
      })
    },
    createScriptsFile () {
      // Hardcoded anon script created with cross platform path
      // Need to get from XNAT API
      var file = fs.createWriteStream(path.join(this.cacheDir, 'scripts.txt'))
      file.on('error', (err) => {
        console.log(err)
      })
      // file.write('"' + path.join(this.cwd, 'bin', 'rockland.das') + '"')
      file.write(path.join(this.cwd, 'bin', 'rockland.das'))
      file.end()
    },
    createManifest (series, dicomFiles) {
      var file = fs.createWriteStream(path.join(this.manifestsDir, series + '_manifest.txt'))
      file.on('error', (err) => {
        console.log(err)
      })
      dicomFiles.forEach(function(v) {
        file.write(v + os.EOL)
      })
      file.end()
    }
  }
}
</script>
